<h2 class="ms-font-xl">Uzupełnij swoje dane.</h2>
<app-form>
  <app-input name="company_name" label="Nazwa firmy"></app-input>
  <app-input name="street" label="Ulica"></app-input>
  <app-input name="house_number" label="Numer domu"></app-input>
  <app-input name="postal_code" label="Kod pocztowy"></app-input>
  <app-input name="city" label="Miasto"></app-input>
  <app-input name="nip" label="NIP"></app-input>
  <app-input name="bank_number" label="Numer konta"></app-input>
  <div class="buttons">
    <app-button cancelButton type="button" style="display: none;">Anuluj</app-button>
    <app-button type="submit" color="primary">Zapisz</app-button>
  </div>
</app-form>