app-data-box {
  .box {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 64px);
    min-height: 70px;
    padding: 12px;
    border: 1px solid #0078D7;
  }

  .button {
    color: #0078D7;
    text-align: right;
    margin-bottom: 4px;
    cursor: pointer;
  }
}